<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ seo_title ?? global.seo_title }}</title>

        <meta name="title" content="{{ seo_title ?? global.seo_title }}">
        <meta name="description" content="{{ seo_description ?? global.seo_description }}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ current_url }}">
        <meta property="og:title" content="{{ seo_title ?? global.seo_title }}">
        <meta property="og:description" content="{{ seo_description ?? global.seo_description }}">
        
        {{ if seo_image }}
            <meta property="og:image" content="{{ seo_image.url }}">
        {{ elseif global.seo_image }}
            <meta property="og:image" content="{{ global.seo_image.url }}">
        {{ /if }}

        <!-- Twitter -->
        <meta property="twitter:card" content="summary">
        <meta property="twitter:url" content="{{ current_url }}">
        <meta property="twitter:title" content="{{ seo_title ?? global.seo_title }}">
        <meta property="twitter:description" content="{{ seo_description ?? global.seo_description }}">

        {{ if seo_image }}
            <meta property="twitter:image" content="{{ seo_image.url }}">
        {{ elseif global.seo_image }}
            <meta property="twitter:image" content="{{ global.seo_image.url }}">
        {{ /if }}

        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffc000">
        <meta name="theme-color" content="#ffc000">

        <script defer src="/js/alpinejs.min.js"></script>

        <link href="{{ mix src="/css/app.css" }}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e7d186f560.js" crossorigin="anonymous"></script>
        
        {{ global.head_scripts }}
    </head>
    <body class="bg-black text-white">
        {{ partial:partials/header }}

        <main class="main_content">
            {{ template_content }}
        </main>

        {{ partial:partials/footer }}
    </body>
</html>