<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ seo_title ?? global.seo_title }}</title>

        <meta name="title" content="{{ seo_title ?? global.seo_title }}">
        <meta name="description" content="{{ seo_description ?? global.seo_description }}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ current_url }}">
        <meta property="og:title" content="{{ seo_title ?? global.seo_title }}">
        <meta property="og:description" content="{{ seo_description ?? global.seo_description }}">
        
        {{ if seo_image }}
            <meta property="og:image" content="{{ seo_image.url }}">
        {{ elseif global.seo_image }}
            <meta property="og:image" content="{{ global.seo_image.url }}">
        {{ /if }}

        <!-- Twitter -->
        <meta property="twitter:card" content="summary">
        <meta property="twitter:url" content="{{ current_url }}">
        <meta property="twitter:title" content="{{ seo_title ?? global.seo_title }}">
        <meta property="twitter:description" content="{{ seo_description ?? global.seo_description }}">

        {{ if seo_image }}
            <meta property="twitter:image" content="{{ seo_image.url }}">
        {{ elseif global.seo_image }}
            <meta property="twitter:image" content="{{ global.seo_image.url }}">
        {{ /if }}

        <!--
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        -->

        <!-- <script defer src="/js/alpinejs.min.js"></script> -->

        <link href="{{ mix src="/css/app.css" }}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e7d186f560.js" crossorigin="anonymous"></script>
        
    </head>
    <body class="bg-black text-white">
        <main class="main_content">
            <div class="bg-gray-700 py-2">
                <div class="flex flex-col sm:flex-row items-center justify-between max-w-7xl mx-auto px-9 overflow-hidden">
                    <div class="flex items-center gap-4">
                        <a href="tel:+12507138509" class="text-sm whitespace-nowrap overflow-ellipsis">
                            <i class="fa-solid fa-phone"></i>
                            250-713-8509
                        </a>

                        <a href="mailto:electgregkeller@gmail.com" class="text-sm whitespace-nowrap overflow-ellipsis">
                            <i class="fa-solid fa-envelope"></i>
                            electgregkeller@gmail.com
                        </a>
                    </div>

                    <div class="flex items-center gap-4">
                        <a href="https://www.facebook.com/electgregkeller" aria-title="Facebook" class="text-3xl">
                            <i class="fa-brands fa-facebook-square"></i>
                        </a>

                        <a href="https://www.instagram.com/gregbkeller/" aria-title="Facebook" class="text-3xl">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex justify-between items-center w-full max-w-7xl mx-auto px-9 py-2">
                <div>
                    <div class="text-primary text-3xl">Re-Elect</div>
                    <h1 class="text-6xl">Greg Keller</h1>
                    <h2 class="text-3xl">For School District Trustee</h2>
                </div>

                <div class="flex items-center gap-4 text-2xl">
                    {{ nav:top_nav }}
                        <a href="{{ url }}"
                        {{ if open_new_tab }}target="_blank"{{ /if }}
                        class="{{ if is_current }} text-primary {{ /if }}"
                        >{{ title }}</a>
                    {{ /nav:top_nav }}
                </div>
            </div>

            {{ template_content }}
        </main>
    </body>
</html>