@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Noto+Sans:wght@400;600&display=swap');

@font-face{
    font-family: 'Viner';
    src: url('/fonts/VINERITC.ttf');
}

:root {
    --footer-height: 150px;
}

@layer components {

    body {
        @apply relative text-white text-base;
        font-family: 'Noto Sans', sans-serif;
        min-height: 100vh;
        padding-bottom: var(--footer-height);
    }

    footer {
        @apply absolute w-full bottom-0 flex flex-col justify-center text-xs lg:text-sm;
        height: var(--footer-height);
    }

    .viner {
        font-family: Viner;
    }

    .wysiwyg p {
        padding-bottom: 1rem;
    }

    .wysiwyg ol {
        @apply list-decimal list-outside pl-12;
    }

    .wysiwyg ul {
        @apply list-disc list-outside pl-12;
    }

    .wysiwyg strong {
        @apply font-bold;
    }

    .wysiwyg h2 {
        @apply text-3xl font-bold;

        color: inherit;
    }

    .wysiwyg h3 {
        @apply text-2xl font-bold;
    }

    .wysiwyg h4 {
        @apply text-xl font-bold;

        color: inherit;
    }

    a {
        @apply text-primary;
    }
}