<div class="max-w-7xl mx-auto px-9 py-6">
    <div class="flex flex-col lg:flex-row gap-6">
        {{ if sections.0.images.0 }}
        <div class="w-full relative lg:max-w-[40%]">
            <img src="{{ sections.0.images.0.url }}" alt="" class="w-full lg:sticky lg:top-2" style="clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%)">
        </div>
        {{ /if }}

        <div class="w-full">
            {{ sections.0 }}
            <div class="w-full max-w-7xl mx-auto px-9 py-6">
                {{ if title }}
                    <h2 class="text-secondary text-3xl lg:text-6xl">{{ title }}</h2>
                {{ /if }}

                {{ partial:partials/wysiwyg :content="content" }}
            </div>
            {{ /sections.0 }}

            {{ sections offset="1" }}
            <div class="w-full max-w-7xl mx-auto px-9 py-6" x-data="{open: {{ first ? 'true' : 'false' }} }">
                <h2 class="text-primary" class="text-2xl">
                    <button type="button" @click="open = !open" class="flex gap-4 text-left">
                        <i class="fa-solid mt-1" :class="{ 'fa-circle-plus': !open, 'fa-circle-minus': open }"></i>

                        <span>{{ title }}</span>
                    </button>
                </h2>

                <div :class="{ hidden: !open }">
                    {{ partial:partials/wysiwyg :content="content" }}
                </div>
            </div>
            {{ /sections }}
        </div>
    </div>
</div>