{{ sections.0 }}
<div class="w-full max-w-7xl mx-auto px-9 py-6">
    {{ if title }}
        <h2 class="text-secondary text-3xl lg:text-6xl">{{ title }}</h2>
    {{ /if }}

    <div class="wysiwyg">
        {{ content }}
    </div>
</div>
{{ /sections.0 }}

{{ sections offset="1" }}
<div class="w-full max-w-7xl mx-auto px-9 py-6">
    {{ if title }}
        <h2 class="text-primary" class="text-2xl">{{ title }}</h2>
    {{ /if }}

    <div class="wysiwyg">
        {{ content }}
    </div>
</div>
{{ /sections }}